.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-details img {
    width: 300px;
    /* Adjusted image size */
    margin-bottom: 20px;
    /* Adjusted margin */
}

.product-details h2 {
    font-size: 28px;
    /* Larger font size */
    margin: 0;
}

.product-details p {
    font-size: 18px;
    /* Adjusted font size */
    margin: 5px 0;
}

/* Add styles for star rating here */

.product-details .description {
    text-align: center;
}

.product-details .back-link {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(19, 19, 19);
    transition: color 0.3s ease-in-out;
}

.product-details .back-link:hover {
    color: #333;
    /* Darker color on hover */
    cursor: pointer;
}